<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.network.client</key>
	<true/>
	<key>com.apple.security.network.server</key>
	<true/>
    <key>com.apple.security.scripting-targets</key>
        <dict>
            <key>com.apple.mail</key>
            <array>
                <string>com.apple.mail.compose</string>
            </array>
            <key>com.apple.safari</key>
            <array>
                <string>com.apple.safari.activeTab</string>
                <string>com.apple.safari.browserWindow.tabs</string>
            </array>
        </dict>
</dict>
</plist>
