<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ekko.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>954FDA181B3FA0BF00F97FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>954FDA271B3FA0BF00F97FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>954FDA321B3FA0BF00F97FFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
